@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background: greenyellow;
 }

.start_btn, .info_box, .quiz_box, .result_box{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2),
                0px 6px 20px 3 rgba(0, 0, 0, 0.19);
                transition: all 0.3s ease;
}

.info_box.activeInfo, .quiz_box.activeQuiz{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
    z-index: 5;
}

/* start Quiz button styling */
.start_btn button {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.info_box {
    width: 540px;
    background: white;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
   
    
}
.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid greenyellow;
    display: flex;
    align-items: center;
    padding: 0 40px;
    font-size: 25px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px ;
}
.info_box .info_list .info {
  margin: 5px 0; 
  font-size: 20px; 
}
.info_box .info_list .info span {
   font-weight: 700; 
   color: greenyellow;
}
.info_box .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    height: 60px;
    border-top: 1.5px solid greenyellow;
}

.info_box .buttons button {
    height: 40px;
    margin: 0 5px;
    width: 100px;
    font-size: 18px;
   outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 500;

}

.buttons .quit{
    color: blue;
    border-color: blue;

}
.buttons .restart {
 color: #fff;
 border-color: blue;
 background-color: black;
}

.buttons .restart:hover {
    background-color: blue;
}
.buttons .quit:hover{
    background-color:greenyellow;
    color: black;
}
  
.quiz_box {
    width: 550px;
    background-color: white;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.quiz_box header{
    position: relative;
    z-index: 99;
    height: 70px;
    padding: 0 30px;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px ;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 1);
}
  
.quiz_box header .title {
    font-size: 20px;
    font-weight: 700;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: firebrick;
    color: wheat;
    border-radius: 5px;
    border: 3px solid greenyellow;
    padding: 0 8px;
}

.quiz_box header .timer .time_text{
font-weight: 400;
font-size: 17px;
user-select: none;
}

.quiz_box header .timer .timer_sec {
    background: black;
    height: 30px;
    width: 45px;
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    border: 2px solid greenyellow;
    user-select: none;
}
.quiz_box section{
    padding: 25px 30px 20px 30px; 
    background: #fff; 

}

.quiz_box section .que_text {
    font-size: 30px; 
   font-weight: 600;
}
.quiz_box section .option_list {
    padding: 20px 0;
    display: block;
}

section .option_list .option {
    background: aliceblue;
    border: 1px solid greenyellow;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;


}
 .option_list .option:hover {
    color: maroon;
    background: #cce5ff;
}
 .option_list .option:last-child{
    margin-bottom: 0px;
}

 .option_list .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    pointer-events: none;
    
}
.option_list .option .icon.tick {
    border-color: green;
    color: blue;
    
}

.option_list .option .icon.cross {
    border-color: red;
    background: #f8d7da;
    color: #a42834;
    
}
.quiz_box footer{
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span {
    display: flex;
    user-select: none;

}

.total_que span p {
    font-weight: 600;
    padding: 0 5px;
   

}

.total_que span p:first-child {
    padding-left: 0px;

}

footer .next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: #44c44a;
    color: #f8d7da;
    border-radius: 50%;
    border: 2px solid maroon;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .next_btn:hover {
  background: black;

}

 footer button.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.result_box{
    background: #fff;
    border-radius: 5px;
    display: flex;
    padding: 25px 30px;
    width: 450px;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
    pointer-events: none; 
    justify-content: space-around;
    transition: all 0.3s ease; 
    border: 2px dotted #007bff;
}
.result_box .icon{
    font-size: 100px;
    color: #007bff;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span{
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.result_box .score_text span p{
    padding: 0 4px;
    font-weight: 600;
}

.result_box .buttons{
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button{
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    border-radius: 10%;
    border: 2px solid  #44c44a;
    transition: all 0.3s ease;
   
}

.buttons button.restart{
    color: #000;
    background: #007bff;
}








































